body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-title {
    font-size: 2em;
    font-weight: bold;
    color: #fff; /* Color blanco para resaltar */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para destacar */
    margin-bottom: 20px;
    margin-top: 120px;
}

#upgrades, #achievements {
    width: 400px; /* Ancho deseado */
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center;
}

#upgrades h3, #achievements h3 {
    margin-bottom: 10px;
    text-align: center;
}

#game {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 20px;
    width: 350px; 
}

#game p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#glass {
    width: 200px;
    height: 200px;
    cursor: url('img/Hammer.cur'), auto;
    transition: transform 0.2s ease;
}

@keyframes hammerAnimation {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

#glass.hammering {
    animation: hammerAnimation 0.3s ease-in-out;
}

#glass:hover {
    transform: scale(1.1);
    cursor: url('img/Hammer.cur'), auto;
}

#glass-container {
    position: relative;
    margin-bottom: 30px; /* Ajusta el valor según sea necesario */
}

#reset {
    margin-top: 20px; /* Ajusta el valor según sea necesario */
    text-align: center;
}

#reset button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset button:hover {
    background-color: #e64a19;
}

#upgrades button {
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

#upgrades button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#upgrades button:hover {
    background-color: #f57c00;
}

#ad-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#ad-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#shards-container {
    position: fixed; /* Cambia la posición a fija para que se mantenga en la ventana */
    top: 0;
    left: 0;
    width: 100vw; /* Ancho igual al ancho de la ventana del navegador */
    height: 100vh; /* Altura igual a la altura de la ventana del navegador */
    pointer-events: none;
    overflow: hidden;
}

.shard {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
}

@keyframes shardAnimation {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(var(--translate-x), var(--translate-y)) scale(0.5);
        opacity: 0;
    }
}

.hidden {
    display: none;
}